<div class="container">
  <div class="illustration">
    <img src="education.svg" alt="education" />
  </div>

  <!-- Login Form -->
  <div class="form">
    <div class="form-content">
      <div class="header">
        <h1>Login</h1>
        <p>Please enter your details to login</p>
      </div>

      <form (ngSubmit)="submit()" [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName="email" id="email" matInput type="email" />
        </mat-form-field>
        @if ( loginForm.get('email')?.invalid && loginForm.get('email')?.touched
        ) { @if (loginForm.get('email')?.errors?.['required']) {
        <mat-error class="login__error">Email is required</mat-error>
        } @if (loginForm.get('email')?.errors?.['email']) {
        <mat-error class="login__error"
          >Please enter a valid email address
        </mat-error>
        } }

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            [type]="togglePassword ? 'password' : 'text'"
            formControlName="password"
            id="password"
            matInput
          />
          <mat-icon (click)="togglePassword = !togglePassword" matSuffix
            >{{ togglePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </mat-form-field>
        @if ( loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched ) { @if
        (loginForm.get('password')?.errors?.['required']) {
        <mat-error class="login__error">Password is required</mat-error>
        } @if (loginForm.get('password')?.errors?.['minLength']) {
        <mat-error class="login__error"
          >Password should be at least 8 characters
        </mat-error>
        } @if (loginForm.get('password')?.errors?.['weakPassword']) {
        <mat-error class="login__error"
          >Please enter a valid password
        </mat-error>
        } }

        <div class="login__action">
            <button [disabled]="loading || loginForm.invalid" class="submit__btn" mat-flat-button type="submit">
              @if (loading) {
                <span class="loading">Loading...</span>
              } @else {
                <span>Login</span>
              }
            </button>
            
            <div class="action-links">
              <a routerLink="/sign-up">Don't have an account?</a>
              <a routerLink="/forgot-password">Forgot password?</a>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
